.Header {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.List {
    display: flex;
    gap: 1rem;
}

.List a {
    text-decoration: none;
    color: var(--color-primary-400);
}

.List a:hover,
.List a.Active {
    color: var(--color-primary-800);
}
  