.Header {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto 6rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    nav {
        margin-bottom: 2.4rem;
    }
}

.List {
    display: flex;
    gap: 1rem;
}

.List a {
    text-decoration: none;
    color: var(--color-primary-400);
}

.List a:hover,
.List a.Active {
    color: var(--color-primary-800);
}
  